<!DOCTYPE html>
<html>
<head>
	<title>Cadastro de Sementes</title>
</head>
<body>

	<h1>Cadastro de Sementes</h1>

	<form action="" method="">

		<!-- Campo de texto -->
		<label for="">Nome da Planta:</label>
		<input type="text" name="" required>

		<!-- Campo de número -->
		<label for="">Quantidade de sementes:</label>
		<input type="number" name="" min="1" max="100" required>

		<!-- Campo de seleção -->
		<label for="">Tipo de Planta:</label>
		<select id="" name="">
			<option value="">Selecione um tipo</option>
			<option value="flores">Flor</option>
			<option value="folhagens">Folhagem</option>
			<option value="frutiferas">Frutífera</option>
			<option value="ervas">Erva</option>
		</select>

		<!-- Campo de texto grande -->
		<label for="descricao">Descrição:</label>
		<textarea name="" rows="5" cols="30"></textarea>

		<!-- Botões de opção -->
		<label for="">Prefere:</label>
		<input type="radio" name="" value="" checked>
		<label for="">Sol</label>
		<input type="radio" name="" value="">
		<label for="sombra">Sombra</label>

		<!-- Caixa de seleção -->
		<label>Cuidados:</label>
		<select name="">
			<option value="">Regas</option>
			<option value="">Adubação</option>
			<option value="">Podas</option>
			<option value="">Controle de Pragas</option>
		</select>

		<!-- Botão de envio -->
		<input type="submit" value="Enviar">
	</form>

</body>
</html>