<!DOCTYPE html>
<html>
<head>
	<title>Registro de alergias</title>
</head>
<body>
  <h2>Informe as alergias que possui:</h2>
	<form method="POST" action="/confirmaralergias">
		<label>
			<input type="checkbox" name="alergia" value="leite">Leite
		</label>
		<label>
			<input type="checkbox" name="alergia" value="gluten">Glúten
		</label>
		<label>
			<input type="checkbox" name="alergia" value="ovos">Ovos
		</label>
		<label>
			<input type="checkbox" name="alergia" value="peixe">Peixe
		</label>
		<label>
			<input type="checkbox" name="alergia" value="frutos do mar">Frutos do mar
		</label>
		<label>
			<input type="checkbox" name="alergia" value="soja">Soja
		</label>
		<br>
		<button type="submit">Enviar</button>
	</form>
</body>
</html>