<!DOCTYPE html>
<html>
<head>
	<title>Registro de alergias</title>
</head>
<body>
  <h2>Informe as alergias que possui:</h2>
	<form method="" action="">
		<label>
			<input type="checkbox" name="" value="">Leite
		</label>
		<label>
			<input type="checkbox" name="" value="">Glúten
		</label>
		<label>
			<input type="checkbox" name="" value="">Ovos
		</label>
		<label>
			<input type="checkbox" name="" value="">Peixe
		</label>
		<label>
			<input type="checkbox" name="" value="">Frutos do mar
		</label>
		<label>
			<input type="checkbox" name="" value="">Soja
		</label>
		<br>
		<button type="submit">Enviar</button>
	</form>
</body>
</html>