<!DOCTYPE html>
  <html> 
    <head>
      <title>Escolha a forma geométrica </title>
      <!-- INCLUA AQUI O ARQUIVO CSS DE FORMA DINÂMICA -->
    
    </head>
    <body>
      <h2>Escolha a forma geométrica que deseja ver: </h2>
      <form action="" method="">
        <select name="">
          <option value="">Quadrado</option>
          <option value="">Círculo</option>
          <option value="">Retângulo</option>
        </select>
        <button type="submit">Enviar</button>
      </form>
    </body>
  </html>
