<!DOCTYPE html>
  <html> 
    <head>
      <title>Escolha a forma geométrica </title>
      <!-- INCLUA AQUI O ARQUIVO CSS DE FORMA DINÂMICA -->
    
    </head>
    <body>
      <h2>Escolha a forma geométrica que deseja ver: </h2>
      <form action="/exibeaforma" method="post">
        <select name="forma">
          <option value="quadrado">Quadrado</option>
          <option value="circulo">Círculo</option>
          <option value="retangulo">Retângulo</option>
          <option value="triangulo">triangulo</option>
        </select>
        <button type="submit">Enviar</button>
      </form>
    </body>
  </html>
