<!DOCTYPE html>
<html>
<head>
	<title>Cadastro de Sementes</title>
</head>
<body>

	<h1>Confirmação dos dados informados:</h1>
  <table>
    <tr>
      <th>Nome da Planta</th>
      <td>AQUI VEM O VALOR INFORMADO PELO USUÁRIO</td>
    </tr>
    
    <tr>
      <th>Quantidade de sementes:</th>
      <td>AQUI VEM O VALOR INFORMADO PELO USUÁRIO</td>
    </tr>
    
    <tr>
      <th>Tipo da planta:</th>
      <td>AQUI VEM O VALOR INFORMADO PELO USUÁRIO</td>
    </tr>
    
     <tr>
      <th>Descrição:</th>
      <td>AQUI VEM O VALOR INFORMADO PELO USUÁRIO</td>
    </tr>
    
    <tr>
      <th>Prefere sol ou sombra?:</th>
      <td>AQUI VEM O VALOR INFORMADO PELO USUÁRIO</td>
    </tr>
    
     <tr>
      <th>Cuidados:</th>
      <td>AQUI VEM OS VALORES INFORMADOS PELO USUÁRIO</td>
    </tr>
    
  </table>

</body>
</html>